<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="./fragments/header.html"></div>
</head>

<body class="">
  <div class="wrapper ">
    <div class="popup main-panel">

      <nav class="info-navbar navbar-expand-lg navbar-absolute fixed-top success-bg-color">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <span class="navbar-brand">
              Storage
              &gt;
              [[${pvc.name}]]
            </span>
          </div>
        </div>
      </nav>

      <div class="content">
        <div class="container-fluid">

          <!-- metadata start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Metadata</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="object-info">
                    <div class="flex-info">
                      <div class="info-item">
                        <div class="item-header">Name</div>
                        <div class="item-body">[[${pvc.name}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Namespace</div>
                        <div class="item-body">[[${pvc.namespace}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Creation time</div>
                        <div class="item-body">[[${pvc.creationTime}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">UID</div>
                        <div class="item-body">[[${pvc.uid}]]</div>
                      </div>
                      <div class="info-item" th:if="${pvc.labels}">
                        <div class="item-header">Labels</div>
                        <div class="item-row">
                          <span th:each="label : ${pvc.labels}" th:text="${label}" />
                        </div>
                      </div>
                      <div class="info-item" th:if="${pvc.annotations}">
                        <div class="item-header">Annotations</div>
                        <div class="item-row">
                          <span th:each="annotation : ${pvc.annotations}" th:text="${annotation}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- metadata end -->

          <!-- resource information start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Resource Information</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="object-info">
                    <div class="flex-info">
                      <div class="info-item">
                        <div class="item-header">Status</div>
                        <div class="item-body">[[${pvc.status}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Volume</div>
                        <div class="item-body">[[${pvc.volume}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Capacity</div>
                        <div class="item-body">[[${pvc.capacity}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Access Modes</div>
                        <div class="item-row" th:if="${pvc.accessModes}">
                          <span th:each="am : ${pvc.accessModes}" th:text="${am}" />
                        </div>
                        <th:block th:if="${pvc.accessModes eq null}">
                          <div class="item-body" th:text="None" />
                        </th:block>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- resource information end -->

        </div>
      </div>
      <div th:replace="./fragments/footer.html"></div>
    </div>
  </div>
  <div th:replace="./fragments/footer-js.html"></div>
  <script th:src="@{/js/portal/table/drawTable.js}"></script>
</body>

</html>
