.selectpicker {
  & + button {
    text-transform: lowercase !important;
  }
}

.main-panel {
  .content {
    margin-top: 0;
    padding: 0px 15px;
  }
}

.footer {
  .copyright {
    user-select: none;
  }
}

.index-container {
  padding-top: 0 !important;
}

.main-logo {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 9vh;
  > .compact-edge {
    > img.compact-edge-logo {
      max-width: 30vw;
      object-fit: contain;
    }
  }
}
