.sidebar-logo:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsla(0,0%,71%,.3);
}

// @keyframes blink { 
//   50% {
//     border-color: #ff0000;
//   }
// }

.sidebar {
  .sidebar-logo {
    width: 100%;
    &.sidebar-logo-height {
      height: 15%;
    }
  
    .compact-edge-logo {
      text-align: center;
      padding: 0 !important;
    }
    .simple-text.logo-normal {
      font-size: 14px;
      text-transform: none !important;
      img.compact-edge {
        max-width: 200px;
        // max-height: 100px;
      }
      img.wizontech {
        max-width: 200px;
        max-height: 30px;
      }
      img.etri {
        max-width: 100px;
        max-height: 20px;
      }
    }
    .logo-bottom {
      cursor: default;
    }
  }

  .sidebar-wrapper {
    height: 85%;
    padding-bottom: 0!important;
    display: flex;
    flex-direction: column;
    .open-in-new {
      // class (small + blockquote)
      font-size: 90%;
      font-weight: 400;
      margin-bottom: .8rem;
    }
    .nav-mobile-menu {
      display: none;
    }
    
    .user {
      margin: 20px 0 0 0!important;
      .user-info {
        [data-toggle=collapse] {
          &~div {
            &>ul>li>a {
              i {
                // font-size: 24px;
                line-height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
    }

    .sidebar-logo-bottom {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
}