<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- hhttps://www.thymeleaf.org/doc/articles/springsecurity.html -->
  <div sec:authorize="isAuthenticated()">
    <script>location.href="/portal";</script>
  </div>
  <div th:replace="./fragments/header.html"></div>
</head>

<body class="off-canvas-sidebar">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div sec:authorize="isAuthenticated()" class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:void(0)">Giga MEC Portal</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a th:href="@{/portal}" class="nav-link">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li class="nav-item ">
            <a th:href="@{/logout}" class="nav-link">
              <i class="material-icons">fingerprint</i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="wrapper wrapper-full-page">
    <div class="page-header error-page login-page header-filter">
      <div class="container">
      
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

            <form class="form" method="post" th:action="@{/signin}">
              <div class="card card-login">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Giga MEC Portal</h4>
                </div>

                <div sec:authorize="isAuthenticated()" class="my-4">
                  <div class="text-center h4">이미 로그인 중인 사용자입니다.</div>
                </div>
                <div sec:authorize="isAnonymous()">
                  <div class="card-body">
                    <div class="input-group">
                      <div class="col-md-12">
                        <select class="selectpicker show-tick" data-width="100%">
                          <option disabled selected>Server</option>
                          <option data-subtext="판교" data-value="server1">Server 1</option>
                          <option data-subtext="안산" data-value="server2">Server 2</option>
                          <option data-subtext="청주" data-value="server3">Server 3</option>
                        </select>
                      </div>
                    </div>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            Username
                          </span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="user name" required>
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            Password
                          </span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="********" required>
                      </div>
                    </span>
                  </div>
                  <div class="card-footer justify-content-center">
                    <button type="submit" class="btn btn-rose btn-link btn-lg">Login</button>
                  </div>
                </div>

              </div>
            </form>

          </div>
        </div>

        <div class="row">
          <div style="height:10vh;"></div>
        </div>

      </div>

      <div class="main-banner">
        <div class="banner-container">
          <img class="banner-logo-1" th:src="@{/img/msit.png}" alt="과학기술정보통신부">
          <img class="banner-logo-2" th:src="@{/img/giga-korea.png}" alt="기가코리아사업단">
          <img class="banner-logo-3" th:src="@{/img/etri-text.png}" alt="한국전자통신연구원">
          <img class="banner-logo-4" th:src="@{/img/wizontech.png}" alt="위즈온텍">
        </div>
      </div>

      <div th:replace="./fragments/footer.html"></div>
    </div>
  </div>
  <div th:replace="./fragments/footer-js.html"></div>
</body>

</html>