.tooltip {
	background: #fff;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	text-align: center;
  width: 80px;
  border-radius: 10px;
	// z-index: 10;
	// display: block;
}
