<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="./fragments/header.html"></div>
</head>

<body class="">
  <div class="wrapper ">
    <div class="popup main-panel">

      <nav class="info-navbar navbar-expand-lg navbar-absolute fixed-top success-bg-color">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <span class="navbar-brand">
              Pod
              &gt;
              [[${all.pod.name}]]
            </span>
          </div>
        </div>
      </nav>

      <div class="content">
        <div class="container-fluid">

          <!-- metadata start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Metadata</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="object-info">
                    <div class="flex-info">
                      <div class="info-item">
                        <div class="item-header">Name</div>
                        <div class="item-body">[[${all.pod.name}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Namespace</div>
                        <div class="item-body">[[${all.pod.namespace}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Creation time</div>
                        <div class="item-body">[[${all.pod.creationTime ?: "-"}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">UID</div>
                        <div class="item-body">[[${all.pod.uid}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Labels</div>
                        <div class="item-row">
                          <span th:each="label : ${all.pod.labels}" th:text="${label}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- metadata end -->

          <!-- resource information start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Resource Information</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="object-info">
                    <div class="flex-info">
                      <div class="info-item">
                        <div class="item-header">Node</div>
                        <div class="item-body">[[${all.pod.node ?: "-"}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Status</div>
                        <div id="podStatus" class="item-body">[[${all.pod.running}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">IP</div>
                        <div class="item-body">[[${all.pod.ip ?: "-"}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">QoS Class</div>
                        <div class="item-body">[[${all.pod.qosClass}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Restarts</div>
                        <div class="item-body">[[${all.pod.restarts}]]</div>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- resource information end -->

          <!-- conditions start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Conditions</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-dark">
                        <tr>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Last probe time</th>
                          <th>Last transition time</th>
                          <th>Reason</th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="condition : ${all.pod.conditions}">
                          <td th:text="${condition.type}" />
                          <td th:text="${condition.status}" />
                          <td th:text="${condition.lastProbeTime} ? ${condition.lastProbeTime} : '-'" />
                          <td th:text="${condition.lastTransitionTime}" />
                          <td th:text="${condition.reason} ? ${condition.reason} : '-'" />
                          <td th:text="${condition.message} ? ${condition.message} : '-'" />
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- conditions end -->

          <!-- controlled by start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Controlled by</h4>
                </div>
                <hr>
                <div class="card-body">
                  <div class="object-info">
                    <div class="flex-info" th:each="controller : ${all.pod.controller}">
                      <div class="info-item">
                        <div class="item-header">Name</div>
                        <div class="item-body">[[${controller.name}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Kind</div>
                        <div class="item-body">[[${controller.kind}]]</div>
                      </div>
                      <!-- <div class="info-item">
                        <div class="item-header">Pods</div>
                        <div class="item-body">[[${#lists.size(controller)}]]</div>
                      </div> -->
                      <div class="info-item">
                        <div class="item-header">Labels</div>
                        <div class="item-row">
                          <span th:each="label : ${all.pod.labels}" th:text="${label}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- controlled by end -->

          <!-- containers start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <h4 class="card-title">Containers</h4>
                </div>
                <hr>
                <div class="card-body" th:each="container : ${all.pod.containers}">
                  <div class="object-info">
                    <div class="flex-info">
                      <div class="info-item">
                        <div class="item-header">Name</div>
                        <div class="item-body">[[${container.name}]]</div>
                      </div>
                      <div class="info-item">
                        <div class="item-header">Image</div>
                        <div class="item-body">[[${container.image}]]</div>
                      </div>
                    </div>
                  </div>
                </div><!-- card body end -->
              </div>
            </div>
          </div>
          <!-- containers end -->

        </div>
      </div>
      <div th:replace="./fragments/footer.html"></div>
    </div>
  </div>
  <div th:replace="./fragments/footer-js.html"></div>
  <!--
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById('podStatus').innerText === 'Fail'
          ? document.getElementsByClassName('info-navbar')[0].style['background-color'] = '#ff9800'
          : '';
      });
    </script>
  -->
</body>

</html>
