### Environments ###
.vscode/
.DS_Store
.settings
.git
.mvn
mvnw
mvnw.cmd

### Spring ###
.classpath
.project
.springBeans
.factorypath

### Source ### => Dockerfile
# src/
# pom.xml
/target/

### Script ###
*.md
*.bak
/logs/
/dev/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar
/helm/