$color-blue: #326de6;
$color-info: linear-gradient(60deg, #26c6da, #00acc1);
$color-rose: linear-gradient(60deg, #ec407a, #d81b60);
// $color-success: linear-gradient(60deg, #66bb6a, #43a047);
$color-success: linear-gradient(60deg, #42a5f5, #1e88e5);
$color-warning: linear-gradient(60deg, #ffa726, #fb8c00);
$color-danger: linear-gradient(60deg, #ef5350, #e53935);
$color-primary: linear-gradient(60deg, #ab47bc, #8e24aa);